
.DS_Store

*.ts
*.log
*.map
tsconfig.json
tslint.json
.eslintrc
.editorconfig
.travis.yml
.prettierrc
.nycrc
.releaserc
*.lcov

!index.d.ts

typings/
node_modules/
test/
.vscode/
coverage/
.nyc_output
yarn.lock
