{
  "check-coverage": true,
  "per-file": true,
  "lines": 99,
  "statements": 99,
  "functions": 95,
  "branches": 99,
  "include": ["dist/**/*js"],
  "exclude": ["**/*.spec.ts", "test", "coverage", "dist/**/*.interface.js", "*.ts", "**/*.d.ts", "lib"],
  "reporter": ["lcov", "text-summary", "html"],
  "cache": true,
  "all": true,
  "report-dir": "./coverage",
  "tmp-directory": ".nyc_output",
  "extension": [".js"]
}
