{
  "overrides": [
    {
      "files": ".prettierrc",
      "options": { "parser": "json" }
    }
  ],
  "printWidth": 80,
  "singleQuote": true,
  "bracketSpacing": true,
  "trailingComma": "es5"
}
